@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Lato&family=Uncial+Antiqua&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;

}

header{
    display: flex;
    width: 93%;
    margin-left: 7%;

}
 .left_side{
     width: 50%;
     z-index: -1;
 }
 .nav_left{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

 .logo{
     margin-top: 30px;
 }
 .pos{
     margin-top: 42px;
     text-decoration: none;
     color:black;
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     margin-right: 2%;
 }

 .pos:hover{
     text-decoration: underline;
 }

 .content{
     margin-top: 140px;
     display: flex;
     flex-direction: column;
     width: 60%;
     height: 296px;
 }

 .left_h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 20px;
 }

 .left_text{
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 60px;
}

 .left_but{
    padding: 15px 30px;
    height: 52px;
    width: 60%;
    color: white;
    background:linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%) ;
    font-weight: 600;
    font-size: 18px;
    border:0px;
    border-radius: 50px;
 }

 .right_side{

    border-radius: 0px 0px 0px 10px;
    width: 50%;
    z-index: -1;
    margin-right: 8%;
 }

 .icons{
     width: 40px;
     height: 40px;
     margin-top: 30px;
 }

 .nav_right{
    display: flex;
    width: 100%;
    justify-content: space-between;
 }

.but_right{
    padding: 15px 30px;
    height: 52px;
    width: 32%;
    color: white;
    background:linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%) ;
    font-weight: 600;
    font-size: 18px;
    border:0px;
    border-radius: 50px;
    margin: 25px 12% 0 0;
}

.email{
    margin-left: 7%;
}

.pos1{
    margin-top: 42px;
    text-decoration: none;
    color:white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.img1{
    position: absolute;
    width: 60%;
    right: 0;
    top:140px;
    height: 550px;
    margin: 0;
}
.background{
    position: absolute;
    right:0;
    z-index: -20;
    width: 50%;
    height: 810px;
    background: #2B7AF1;
    border-radius: 0px 0px 0px 10px;
}
.blocks{
    width: 1200px;
    margin: 12rem auto 0 auto;
    display: flex;
    gap:2rem;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 305px;
    height: 231px;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
    margin-bottom: 115px;
}

.block span{
    padding: 19px 20px;
    text-align: center;
}

.block img{
    padding-top: 41px;
}

.h2{
    color:#2B7AF1;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    margin-left: 7%;
    margin-bottom: 40px;
}
.blocks_area{
    gap: 20px;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "one one two"
        "tree four four";

    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 60px;
}

.block_area1{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/flat1.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 100%;
    grid-area: one;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:116px;
    padding-left: 40px;
    padding-bottom: 20px;

}

.block_area2{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/flat2.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 100%;
    grid-area: two;
    display: flex;
    flex-direction: column;
    padding-top:116px;
    padding-left: 40px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.block_area3{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/flat3.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 100%;
    grid-area: tree;
    display: flex;
    flex-direction: column;
    padding-top:116px;
    padding-left: 40px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.block_area4{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/flat4.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: 100%;
    grid-area: four;
    display: flex;
    flex-direction: column;
    padding-top: 116px;
    padding-left: 40px;
    justify-content: space-between;
    padding-top:116px;
    padding-left: 40px;
    padding-bottom: 20px;
}
.but_main{
    margin-left: 85%;
    margin-bottom: 20px;
}
.but_main1{
    margin-left: 80%;
    margin-bottom: 20px;
}

.text_header{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.text_2{
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-weight: 300;
}

.text_3{
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-weight: 300;
}

.but_main{
    color:white;
    width: 13%;
    height: 33px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: 0px;
}

.but_main1{
    color:white;
    width: 17%;
    height: 33px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: 0px;
}

.mainbut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 121px;
}

.mainbut span{
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: 0px;
    width: 10%;
    font-weight: 600;
    font-size: 16px;
    color:white;
    padding: 15px  50px 15px 50px;
}

.about{
 margin-left: 7%;
 margin-right: 7%;
 width: 84%;
 height: 225px;
 display: flex;
 justify-content: space-between;
 margin-bottom: 100px;
}

.sf{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}


.about__iteam{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 18px;
}

.about__iteam1{
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
}

.pudge{
    margin-bottom: 80px;
}

.ghoul{
    margin-top: 50px;
}

.line{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 107px;
    border-bottom: 1px  solid  #FFB039;
}

.location{
    margin-right: 13px;

}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 150px;
    margin-left: 7%;
    margin-bottom: 100px;
}

.contact_line{
    display: flex;
}

.contact_line1{
    margin-left: 20px;
    margin-top: 10px;
}

.vk{
    display: flex;
}

.instgram{
    display: flex;
}

.content_main{
    margin-left: 7%;
    display: flex;
    width: 33%;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 173px;
}

.follow{
    margin-left: 23%;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    width: 157px;
    height: 33px;
    color: white;
    border: 0px;

}

.map{
    position: absolute;
    left: 37%;
    top: 2500px;

}

.blue{
    width: 100%;
    height: 650px;
    background: #2B7AF1;
    z-index: 0;
    position: relative;
}

.client{
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: white;
    margin-left: 7%;
    padding-top: 100px;
    margin-bottom: 40px;
}

.dots{
    position: absolute;
    left: 83%   ;
    top: 40px;
    z-index: 1;
}

.blocks_area10{
    gap: 20px;
    display: grid;
    grid-template-columns: 1.5fr  1.5fr;
    grid-template-areas:"one  two";
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    z-index: 2;
}

.iteam_block{
    background: white;
    border-radius: 10px;
}

.iteam1{
    grid-area: one;
    height: 292px;
}

.iteam2{
    grid-area: two;
    height: 292px;
    z-index: 2;
}

.mark{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 45px;
    margin-bottom: 23px;
}

.mark1{
    color: #2B7AF1;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.mark2{
    font-weight: normal;
    font-size: 16px;
    color: #111111;
    line-height: 22px;
    padding-left: 40px;
    margin-bottom: 38px;
}

.mark3{
    color: #2B7AF1;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    padding-left: 40px;
}

.mark4{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

.qwe{
    position: absolute;
    left: 90px;
    top: 305px;
}

.qwer{
    position: absolute;
    top: 305px;
    right: 90px;
    z-index: 10;
}

.sad{
    position: absolute;
    left: 48%;
    top: 539px;
}

.between{
    height: 557px;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./img/img\ \(1\).png);
    background-size: 100% 100%;
}

.raze{
    height: 354px;
    width: 100% 100%;
    background-color: white;
}

.write_me{
    position: absolute;
    width: 393px;
    height: 451px;
    margin-top: 100px;
    background-color: white;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
    border-radius: 10px; ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 13%;
}

.write_me span{
    color: #2B7AF1;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

.both{
    border: 1px solid rgba(17, 17, 17, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    width: 313px;
    height: 42px;

}

.roma{
    width: 313px;
    height: 115px;
    border: 1px solid rgba(17, 17, 17, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

.roma_but{
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    height: 50px;
    width: 152px;
    border:0px;
    color:white;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

input::placeholder{
    color: #11111180;
    padding: 0 0 0 20px;
    text-align: start;
}
.points{
    margin-top: 100px;
    margin-left: 43%;
    z-index: 0;
}

.conteiner{
    width: 48%;
    height: 100%;
    font-size: 18px;
    line-height: 140%;
    position: relative;
    left: 46%;
    z-index: 1;
    bottom: 30px;
}

.include{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    position: relative;
    left: 46%;
    bottom: 300px;
    margin-top: 20px;
    font-size: 18px;
line-height: 140%;
}

.mem{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #2B7AF1;

}

.mem2{
    font-size: 16px;
    line-height: 26px;
}

.petor{
    width: 86%;
    height: 100px;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
}

.pos2{
    margin-top: 439px;
    text-decoration: none;
    color:white;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-right: 2%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
 .pos2:hover{

    text-decoration: underline;
}

.logo2{
    width: 150px;
    height: 60px;
    margin-top: 417px;
}

.social{
    width: 190px;
    height: 40px;
    margin-top: 427px;
}

.icons1{
    width: 40px;
    height: 40px;
    margin-top: 427px;
}

.line2{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 400px;
    border-bottom: 1px solid white;
}

.copy{
    font-size: 14px;
    line-height: 17px;

    color: white;

    font-weight: 400;
}

.pop{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 7%;
    margin-top: 21px;
}

.agree{
    font-size: 14px;
line-height: 17px;
color: white;
font-weight: 400;
}