@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html{
    background-color: rgb(218, 214, 214);
}
.banner-1{
    height:72px;
    width:1440px;
    background: #0B2239;
    margin: 24px 0px;
    position: relative;
}
.text-1{
    position: absolute;
    width: 922px;
    height: 40px;
    color:white;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    font-size: 14px;
    margin: 0px 120px;
    top:0px;
}
.butt1{
    position: absolute;
    width: 86px;
    height: 20px;
    color:#4AD295;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    font-weight: 600;
    font-size: 12px;
    margin: 26px 1084px;
    cursor: pointer;
    text-decoration-line: underline;
}
.butt2{
    position: absolute;
    width: 130px;
    height: 36px;
    left: 1190px;
    top: 18px;
    background: #4AD295;
    border-radius: 2px;
    cursor: pointer;
}
.butt2 p{
    width: 110px;
    height: 20px;
    color:white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin: 8px 10px;
}
.banner-2{
    position: relative;
    width: 1440px;
    height: 52px;
    left: 0px;
    top: 0px;
    background: #2B2627;
}
.text-2{
    position: absolute;
    width: 689px;
    height: 20px;
    left: 369.5px;
    top: 16px;
    color:white;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-left: 8 px;
}
.text-2 u {
    cursor: pointer;
}
.img1{
    width: 16px;
    height: 16px;
    left: 345.5px;
    top: 18px;
    position: absolute;
}
.img2{
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 18px 345.5px 18px 1078.5px;
}
.banner-3{
    width: 560px;
    height: 72px;
    background: #FFFFFF;
    margin: 24px 0px;
    border-radius: 16px;
    position: relative;
}
.logo3{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 16px;
    top: 18px;
    background-color: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}
.img3{
    position: absolute;
    left: 22.22%;
    right: 22.22%;
    top: 22.22%;
    bottom: 22.22%;
}
.textlo{
    width: 347px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    color:#0D0C22;
    font-family: 'Inter'; 
    font-weight: bold;
    padding-bottom:10px ;
    padding-left: 62px;
}
.text3{
    color: #EA4C89;
}
.butt-1{
    position: absolute;
    width: 63px;
    height: 28px;
    left: 419px;
    top: 22px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    cursor: pointer;
}
.butt-1 p{
    color:#0D0C22;
    position: absolute;
    width: 43px;
    height: 20px;
    left: 10px;
    top:  -7px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}
.butt-2{
    position: absolute;
    width: 52px;
    height: 28px;
    left: 492px;
    top: 22px;
    background-color: #EA4C89;
    border-radius: 8px;
    cursor: pointer;
}
.butt-2 p{
    color: white;
    font-family: 'Inter', sans-serif;
    width: 32px;
    height: 20px;
    left: 10px;
    margin: 5px 7px;
}
.banner-4{
    position: relative;
    padding: 12px 16px;
    width: 540px;
    height: 54px;
    left: 0px;
    top: 0px;
    background-color: #26262B;
    border-radius: 10px;
}
.text-4{
    position: absolute;
    width: 469px;
    height: 40px;
    left: 16px;
    top: 21px;
    font-size: 12px;
    line-height: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.butt-4{
    position: absolute;
    width: 49px;
    height: 28px;
    left: 495px;
    top: 26px;
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.butt-4 p{
    width: 29px;
    height: 20px;
    left: 10px;
    top: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
    padding: 10px;
    cursor: pointer;
}
.banner-5{
    position: relative;
    width: 360px;
    height: 206px;
    left: 0px;
    top: 40px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
}
.cookie{
    padding:24px;
}
.text-5{
    width: 312px;
    height: 80px;
    left: 24px;
    top: 54px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:white;
    position: absolute;
}
.text5{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:white;
    position: absolute;
    width: 160px;
    height: 16px;
    left: 24px;
    top: 158px;
}
.butt-5{
    position: absolute;
    width: 85px;
    height: 32px;
    left: 251px;
    top: 150px;
    background-color: #09B3AF;
    border-radius: 6px;
    display:flex;
    align-items: center;
    cursor: pointer;
}
.butt-5 p{
    width: 45px;
    height: 16px;
    top: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 20px;
}
.banner-6{
    position: relative;
    width: 360px;
    height: 170px;
    left: 400px;
    top: 0px;
    background: #FFFFFF;
    margin: -150px 40px;
    border-radius: 16px;
}
.logo6{
    padding:16px;
}
.text-6{
    position:absolute;
    width: 328px;
    height: 60px;
    left: 16px;
    top: 46px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
}
.butt-6{
    position: absolute;
    width: 160px;
    height: 32px;
    left: 16px;
    top: 122px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
}
.butt-6 span{
    position:absolute;
    padding:8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    left:19px;
    top:0px;
    color:#687F8C;
}
.butt6{
    position: absolute;
    width: 160px;
    height: 32px;
    left: 184px;
    top: 122px;
    background: #40C1A7;
    border-radius: 6px;
    display:flex;
    align-items: center;
}
.text6{
    width: 144px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.banner7{
    position: relative;
    width: 265px;
    height: 215px;
    background-color: white;
    padding: 32px;
    border-radius: 20px;
    margin: 208px 4px;
    display: flex;
    align-items: center;
}
.banner7 h1{
    position: absolute;
    width: 104px;
    height: 48px;
    left: 108px;
    top: 15px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #15295A;
}
.banner7 p{
    position: absolute;
    width: 256px;
    height: 72px;
    left: 40px;
    top: 80px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.butt-7{
    position: absolute;
    width: 121px;
    height: 44px;
    left: 99.5px;
    top: 195px;
    background: #4A7EFF;
    border-radius: 43px;
    cursor:pointer;
}
.butt-7 span{
    width: 57px;
    position: absolute;
    height: 24px;
    left: 32px;
    top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.banner8{
    position: relative;
    width: 320px;
    height: 137px;
    left: 360px;
    top: -400px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 0px 40px;
}
    .banner8 p{
    position: absolute;
    width: 288px;
    height: 60px;
    left: 20px;
    top: 4px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 20px;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
    text-align: left;
    }
.text8{
    position: absolute;
    width: 95px;
    height: 17px;
    left: 16px;
    top: 96px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6666FF;
}
.butt8{
position:absolute;
padding: 8px;
width: 48px;
height: 17px;
left: 241px;
top: 89px;
background: #6666FF;
border-radius: 4px;
display:flex;
align-items: center;
}
.butt8 span{
    position: absolute;
    left:8px;
    top:8px;
    color:white;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}