
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    font-family: 'Roboto'
}
html{
    background-color: #f5f5f5;;

}
header{
    width: 100%;
    height: 800px;

    margin-bottom: 100px;

}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}
nav{
    width: 88%;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    margin:50px 0 0 15% ;
    font-size:16px;
    margin-bottom: 145px;

}
.block{
    height:20px;
    width:20px;
    border-radius: 20px;
    background: #9C69E2;
}
.block2{
    height:35px;
    width:20px;
    border-radius: 20px;
    background:  #F063B8;

}
.pos{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width:3%;
    margin-right: 5%;

}
.nav_but{
   margin: 0 20% 0 ;
   width:17%;
   height:60px;
   box-shadow: 0px  5px 5px rgba(75, 93, 104, 0.1);
   border-radius: 50px;
   border:1px;
   background: #FFFFFF;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 16px;
   font-weight: 800;
   cursor: pointer;
}
.nav_but:hover{
    color:#FFFFFF
}
.header_block{

    margin: 0;
    width:40%;
    height: 184px;
    font-size: 80px;
    font-weight: 700;
    z-index: 10;
    margin-left: 15%;
}
.header1{
    display: flex;
    width :100%;
    flex-direction: column;


}
.header_block2{
    margin-top: 50px;
    width:24%;
    height: 184px;
    font-size: 18px;
    font-weight: 500;
    z-index: 10;
    margin-left:15% ;
    line-height: 160%;

}

.img1{
   width: 55%;
   position:relative;
   z-index: 0;
   bottom: 400px;
   margin-left: 35%;


}
.lern{
    width: 14%;
    height: 60px;
    background-color: #9C69E2;
    font-style: 18px;
    color: white;
    border-radius:50px;
    margin-left: 15%;
    border:0px;
    cursor: pointer;
    font-weight: 800    ;
}
.lern:hover{
    color:#9C69E2
}
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content{
    height: 560px;
    width: 69.5%;
    background-color: rgba(240, 99, 184, 0.15);
   border-radius: 50px;
   display: flex;
   margin-bottom: 150px;

}
.content1{
    width: 82%;
    height: 100px;
    font-size: 40px;
    margin-top: 125px;
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-left: 3.8%;
}
.content2{

    height: 170;
    font-size:18px;
    font-weight: 500;
    margin-left: 3.8%;
    line-height: 160%;
    width: 82%;
}


.main_content2{
    width: 42.5%;
    height: auto;
    display: flex;
    flex-direction: column;

}
.features{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:40px;
    font-weight: 700;
}
.features2{
    font-size: 18px;
    width: 68%;
    margin-top: 50px;
    margin-left: 16%;
    line-height: 160%;
    margin-bottom: 149px;
    font-weight: 400;
}

.features3{
    display: flex;

    width: 85%;

    margin-left: 15%;
}
.features_content1{
    display: flex;
    margin-bottom: 132px;

}
.features_content12{
    width: 270px;
    height: 276px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    margin-left: 4%;

}
.f_text1{
    font-size: 16px;
    font-weight:400;
    line-height: 160%;

}
.f_text2{
    font-size: 16px;
    font-weight: 900;
    display: flex;
    align-items: baseline ;
    justify-content: space-between;
    line-height: 160%;

}
.img2{
    margin-top: 40px;
    width: 232px;
    height:232px;

}
.lern_img1{
    margin-right: 50%;
    margin-top: 5px;
}
.f_text2:hover{
    color:white;
    cursor: pointer;
}
.features_content2{
        display: flex;
        max-width: 132px;
}
.img3{
    margin-left: 270px;
    width: 232px;
    height: 232px;
    margin-top: 40px;
}
.conteiner12{
 width: 69%;
 height: 609px;
 background: #9C69E2;

 margin:0 auto;
 border-radius: 50px;
padding: 109px 0 0 115px;
margin-bottom: 252px;
}
.conteiner12 span{
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color:white;
    width: 36%;
    height: 52px;

}
.conteiner2{
    box-shadow: 0px 20px 0px rgb(0,0,0,0.08);
    border-radius: 20px;
    margin-top: 88px;
    width: 90%;
    height: 330px;
    background: white ;
    display: flex;

}
.conteiner2 img{
    padding: 60px 0 0 103px;
    width: 132px;
    height: 90px;
    margin-right: 45px;
}
.text12{
    display: flex;
    flex-direction: column;
}
.text11{
    width: 69%;
    height: 130px;
    font-size: 18px;
    line-height: 180%;
    padding-top: 19px;
}
.text13{
    width: 28%;
    height: 29px;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    margin-top: 80px;
}
.text14{
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;

}
.slider{
    display: flex;
    justify-content: space-between;
}
.slider1{
margin-top: 60px;
 width: 55px;
height: 10px;
}
.slider2{
    width: 80px;
    justify-content: space-between;
    display: flex;
    padding-right: 10%;
    margin-top: 60px;
}
footer{
    height: 761px;
    width: 100%;
    margin-left: 8%;
}
.footer1{
display: flex;
width: 70%;
justify-content: center;
margin-bottom: 105px;
}
.text33{
    width: 584px;
    font-weight: 500;
font-size: 18px;
line-height: 160%;
color:#4B5D68;
margin-right: 309px;
margin-left: 15%;
}
.footer_buts{
    display: flex;
    margin-top: -19px;
    width: 410px;
    height: 60px;

}
.but_lern{
    background: #F063B8;
    width: 170px;
    height: 60px;
    color: white;
    border-radius: 50px;
    border:0px;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    margin-top: 60px;

    }
.but_re{
    background: white;
    width: 210px;
    height: 60px;
    color: black;
    border-radius: 50px;
    border:0px;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    box-shadow: 0px  5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border:1px;
    margin-top: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 59px;

}
.text32{
    font-weight: 1000;
font-size: 40px;
margin-left: 15%;
color: #212353;
}
.col1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-left: 8%;
}
.elm1{
    font-weight: 900;
font-size: 20px;
line-height: 160%;
color: #212353;
margin-bottom: 80px;
margin-left: 20px;
}
.svg{
    width: 49px;
height: 35px;
}
.logo{
    display: flex;
}
.logo2{
    width: 335px;
}
.poh{
font-weight: 900;
font-size: 16px;
line-height: 180%;


letter-spacing: 0.01em;



color: #212353;
}
.loh{

font-size: 16px;

padding-bottom: 100px;


color: #212353;
}
.pik{
    width: 360px;
    color: #212353;

}
.colums{
    display: flex;
    justify-content: space-between;
}
.col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 190px;
    color: #212353;
    font-size: 16px;
line-height: 250%;
}
.mar{
    margin-right: 570px;

}
.zxc{
    margin-bottom: 100px;
}
.pudge{
    margin-bottom: 100px;
}
.mk{
    color: #212353;
    font-weight: 900;
font-size: 16px;
line-height: 160%;
}