@import url('http://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500&family=Inter:wght@100&family=Lato:wght@400;700&family=Montserrat:wght@600&family=Uncial+Antiqua&display=swap');
body{
    margin: 0;
    padding: 0;
}

.conteiner{
    margin: 0 0 0 12%;
    width: 88%;
    height: 665px;
    background-image: url(./imgs/Frame.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.logo{
    display: flex;
}

.name{
    margin-top: 63px;
    color: #5282F0;
    font-family: Product Sans;
    font-size: 24px;
    line-height: 29px;
    font-size: 500;
}

.ball{
    margin-top: 55px;
}

.text_1{
    font-family: Lato;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    width: 50%;
    height: 96px;
    margin-top: 133px;
    margin-bottom: 30px;
    word-spacing:0.2em;
}

.text_2{
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    width: 40%;
    height: 52px;
    word-spacing:0.2em;
}

.google{
    margin-left: 36px;
}


/* Block 2*/
.conteriner_2{

    width: 100%;
    height: 592px;
    display: flex;
}

.content_1--bg{
    position: absolute;
    z-index: -1;

}

.content_1--match{
    position: absolute;
    margin-top: 109px;
    z-index: 1;
    margin-left: 12%;;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content_1--video{
    margin-top: 296px;
    z-index: 0;
    position: absolute;
    left: 19%;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.content_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 22%;
    margin-left: 55%;
    margin-top: 133px;
}

.zxc{
    color: #00ADEE;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.zxc1{
    color: #333333;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}

.zxc2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.content_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 35%;
    margin-left: 12%;
    margin-top: 217px;
    z-index: 0;
    margin-bottom: 172px;
}

.conteiner_3{
    background-image: url(./imgs/SAMPLE05.png);
    background-position-x: 88%;
    background-repeat: no-repeat;
}

.conteiner_3{
    display: flex;
}

.blue_bg{
    width: 100%;
    height: 735px;
    background-image: url(./imgs/Group\ 696.png);
    display: grid;
}

.judju{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: white;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 60px;
}

.setka{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "one two three"
    "four five six"
    "seven eight nine";
    height: 600px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    gap: 90px;
    margin-bottom: 66px;
}

.setka_iteam{
    width: 100%;
    height: 120px;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.setka_iteam1{
grid-area: one;
}

.setka_iteam2{
    grid-area: two;
}

.setka_iteam3{
    grid-area: three;
}

.setka_iteam4{
    grid-area: four;
}

.setka_iteam5{
    grid-area: five;
}

.setka_iteam6{
    grid-area: six;
}

.setka_iteam7{
    grid-area: seven;
}

.setka_iteam8{
    grid-area: eight;
}

.setka_iteam9{
    grid-area: nine;
    margin-bottom: 60px;
}

.vec1{
    margin-bottom: 16px;
}

.vec2{
    margin-bottom: 14px;
}

.vec3{
margin-bottom: 16px;
}

.vec4{
margin-bottom: 15px;
}

.vec5{
    margin-bottom: 14px;
}

.vec6{
    margin-bottom: 15px;
}

.vec7{
margin-bottom: 7px;
}

.vec8{
margin-bottom: 14px;
}

.vec9{
margin-bottom: 11px;
}

.conteiner_5{
    width: 100%;
    height: 431px;
}

.conteiner_5--h2{
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-top: 68px;
    margin-bottom: 64px;
}

.slider{
    margin-left: 12%;
    margin-right: 18%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    gap:3%;

}

.slider_iteam{
    height: 161px;
    border: 1px solid #828282;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius:5px ;
}


.slider_iteam1{
    display: flex;
}

.img_slider1{
    margin: 17px 0 0 15px;
}

.text_slider{
    margin:20px 0 0 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}



.img_slider2{
   margin-left: 55%;
   margin-top: 24px;
   width: 15px;
   height: 12px;
}

.text_slider2{
    margin: 20px 13px 24px 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.slider_absoul1{
    position:absolute;
    margin-left: 3%;
    z-index:0;
}

.slider_absoul2{
    z-index: 1;
    position: absolute;
    margin-left: 8%;
    margin-top: 57px;
}

.slider_abs1{
    position:absolute;
    height: 163px;
    margin-left: 72.3%;
    z-index: 0;
}

.slider_abs2{
    z-index: 1;
    position: absolute;
    margin-left: 70.7%;
    margin-top: 57px;
}

.balls{
    margin-top: 47px;

}

.balls1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteiner_6{
    width: 100%;
    height: 278px;
}

.featured{
    display: flex;
    margin-right: 12%;
    margin-left: 12%;
    width: 76%;
    justify-content: space-between;
}

.conteriner_7{
    display: flex;
    flex-direction: row;
    margin-right: 6%;
    width: 94%;
    justify-content: space-between;
}

.text4{
    height: 125px;
    width: 100%;
}

.text6{
    width: 100%;
}

.postition{
    margin-left: 20%;
    width: 88%;
}

.bg2{
    width: 100%;
    height: 127px;
    background: #00ADEE;
}

.imgs1{
    margin-bottom: 98px;
}

.bg_content{
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
}

.content1{
    justify-content: space-between;
    display: flex;
    width: 30%;
    color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.bg_content1{
    display: flex;
    justify-content: space-between;
    width: 8%;
}
/*----------------------0.o--------------------------------*/
/*----------------------0.o--------------------------------*/
/*----------------------0.o--------------------------------*/
/*----------------------0.o--------------------------------*/



@media (max-width:720px){
    .conteiner{
        background:white;
        margin: 0 6% 0 6%;
        height: 300px;
    }

    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .name{
        margin-top: 34px;
        color: #5282F0;
        font-family: Product Sans;
        font-size: 24px;
        line-height: 29px;
        font-size: bold;
    }

    .ball{
        margin-top: 32px;
    }

    .text_1{
        font-family: Lato;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        width: 100%;
        height: 119px;
        margin-top: 86px;
        margin-bottom: 33px;
        text-align: center;
    }

    .text_2{
        font-family: Lato;
        font-weight: 400;
        margin-bottom: 0;
        color: #4F4F4F;
        width: 100%;
        height: 119px;
        word-spacing:0.2em;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
    }

    .google{
        margin-left: 28px;
        width: 43%;
    }

    .apple{
        width: 43%;
    }

    /* BLOCK 2*/
    .conteriner_2{
        background-image: none;
        background-repeat:no-repeat ;
        background-position-x: 0;
        width: 100%;
        height: 592px;
        display: flex;
        flex-direction: column-reverse;

    }

    .content_1--match{
        position: absolute;
        z-index: 1;
        width:247px;
        left: 1px;
        height: 150;
        margin-top: 170px;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    }

    .content_1--bg{
        position: absolute;
        top: 950px;
        width: 100%;
        height: 500px;
        margin-top: 20px;
    }
    .content_1--video{
        position: absolute;
        width: 247px;
        right: 6%;
        height: 150px;
        box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    }

    .content_2{
        display: flex;
        flex-direction: column;
        height: 350px;
        text-align: center;
        justify-content: center;
        width: 88%;
        justify-content: space-between;
        margin-left: 6%;
        margin-right: 6%;
    }

    .zxc{
        text-align: center;
        color: #00ADEE;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;

    }

    .zxc1{
        text-align: center;
        color: #333333;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        font-weight: 400;
        margin-top: 27px;
        margin-bottom: 20px;
    }

    .zxc2{
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 19px;
    }
    .content_3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 350px;
        width: 88%;
        margin-left: 6%;
        margin-right: 8%;
        margin-top: 610px;
        z-index: 0;
    }

    .conteiner_3{
        background-image: url(./imgs/SAMPLE05.png);
        background-position-x: 81%;
        background-repeat: no-repeat;
        background-position-y: 1000px;
        width: 100%;
        height: 1700px;
    }

    .blue_bg{
        width: 100%;
        height: 735px;
        background-image: none;
        display: grid;
    }

    .judju{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        text-align: center;
        color: black;
        margin-left: 6%;
        margin-right: 6%;
    }

    .setka{
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 160px;
 }

    .setka_iteam{
        width: 100%;
        height: 150px;
        color: black;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .path > path {
        fill: #00ADEE;
    }

    .vec1 {
        margin-bottom: 16px;
    }

    .vec2{
        margin-bottom: 14px;
        width: 30px;
        height: 30px;
    }

    .vec3{
    margin-bottom: 16px;
    }

    .vec4{
    margin-bottom: 15px;
    }

    .vec5{
        margin-bottom: 14px;
    }

    .vec6{
        margin-bottom: 15px;
    }

    .vec7{
    margin-bottom: 7px;
    }

    .vec8{
    margin-bottom: 14px;
    }

    .vec9{
    margin-bottom: 11px;
    }

    path{
        fill:#00ADEE;
    }
    .conteiner_5{
        width: 100%;
        height: 350px;
        margin-top: 1300px;
        margin-left: 0;
        margin-right: 0;
    }
    .conteiner_5--h2{
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        margin-top: 68px;
        margin-bottom: 64px;
    }

    .slider{
        margin-left: 6%;
        margin-right: 6%;
        z-index: 2;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 88%;

    }

    .slider_iteam:first-child{
        display: none;
    }

    .slider_iteam:nth-child(3){
        display: none;
    }
    .slider_iteam{
        height: 161px;
        border: 1px solid #828282;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius:5px ;
    }


    .slider_iteam1{
        display: flex;
    }

    .img_slider1{
        margin: 17px 0 0 15px;
        width: 30px;
        height: 30px;

    }

    .text_slider{
        margin:20px 0 0 11px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }



    .img_slider2{
       margin-left: 30%;
       margin-top: 24px;
       width: 15px;
       height: 12px;
    }

    .text_slider2{
        margin: 20px 13px 24px 17px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        width: 70%;
    }

    .slider_absoul1{
        position:absolute;
        margin-left: 3%;
        z-index:0;
        display: none;
    }

    .slider_absoul2{
        z-index: 1;
        position: absolute;
        margin-left: 8%;
        margin-top: 57px;
        display: none;
    }

    .slider_abs1{
        position:absolute;
        height: 163px;
        margin-left: 72.3%;
        z-index: 0;
        display: none;
    }

    .slider_abs2{
        z-index: 1;
        position: absolute;
        margin-left: 75%;
        margin-top: 57px;
    }

    .balls{
        margin-top: 47px;

    }

    .balls1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .conteiner_6{
        width: 88%;
        height: 310px;
        margin-left: 6%;
        margin-right: 6%;
    }

    .featured{
        display: flex;
        width: 88%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .conteriner_7{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .text4{
        height: 300px;
        width: 100%;
    }

    .text6{
        width: 100%;
    }

    .postition{
        margin-left: 6%;
        width: 88%;
        margin-right: 6%;
    }

    .imgs1{
        margin-bottom: 98px;
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
    }
    .bg2{
        width: 100%;
        height: 210px;
        background: #00ADEE;
    }

    .bg_content{
        margin-left: 6%;
        margin-right: 6%;
        width: 88%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 127px;
        height: 100%;
        align-items: flex-start;
    }

    .content1{
        justify-content: space-between;
        display: flex;
        width: 100%;
        color: white;
        font-family: Lato;
        font-size: 16px;
        line-height: 21px;
        word-spacing: 19px;
        order: 3;
        margin-bottom: 45px;
    }

    .bg_content1{
        display: flex;
        justify-content: space-between;
        width: 30%;
        order: 2;
        margin-bottom: 10px;
    }

    .img{
        width: 100%;
    }

    .logo__footer{
        margin-top: 33px;
        order:1;
    }
}
