.first{
    background-color: rgba(229, 218, 218, 1);
    width: 100%;
    height: 400px;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 80px 50px -10px rgba(5, 14, 21, 0.90);

}


.ball:first-child{
    background-color: rgba(35, 73, 96, 1);
    animation-name: ballon1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.57,.57,.65,.66);

}

.ball:last-child{
    background-color: rgba(238, 23, 0, 1);
    animation-name: ballon2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.57,.57,.65,.66);

}

.ball:nth-child(2){
    background-color: rgba(35, 73, 96, 1);
}

.ball:nth-child(3){
    background: linear-gradient(90deg, rgba(46,90,120,1) 0%, rgba(97,77,94,1) 82%);
}

.ball:nth-child(4){
    background: linear-gradient(90deg, rgba(127,71,79,1) 36%, rgba(147,65,72,1) 86%);
}

.ball:nth-child(5){
    background: linear-gradient(90deg, rgba(172,55,57,1) 25%, rgba(232,11,0,1) 100%);
}

.ball:nth-child(6){
    background-color: rgba(238, 23, 0, 1);
}

@keyframes ballon1{
    0%{
        transform: translate(0 , 0);
    }

    25%{
        transform: translate(-50px , -50px);
        box-shadow: 0px 50px 50px -10px rgba(1, 14, 21, 0.90);
    }

    50%{
        transform: translate(0 , 0);
    }

    100%{
        transform: translate(0 , 0);
    }
}

@keyframes ballon2{
    0%{
        transform: translate(0 , 0);
    }

    50%{
        transform: translate(0 , 0);
    }

    75%{
        transform: translate(50px , -50px);
        box-shadow: 0px 50px 50px -10px rgba(5, 14, 21, 0.90);
    }

    100%{
        transform: translate(0 , 0);
    }
}


.second{
    background-color: black;
    width: 100%;
    height: 400px;
    margin: 0;
    padding:0 ;
}

.container{
    width: 350px;
    cursor: pointer;
    margin: 0 auto;
}

.firstdiv{
    width: 315px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 1.0, 1.0);
    padding: 18% 10%;
}

.element1part1{
    background-color: aliceblue;
    transition: 4s;
}


.element1part2{
    background-color: aliceblue;
    transition: 4s;
}

.container:hover .element1part2{
    background-color: aliceblue;
    color: rgb(247, 123, 123);
    box-shadow: 0 0 5px rgb(247, 123, 123), 0 0 10px rgb(247, 123, 123), 0 0 20px rgb(247, 123, 123), 0 0 40px #ff0000;
}

.container:hover .element1part1{
    background-color: aliceblue;
    color: rgb(58, 161, 58);
    box-shadow: 0 0 5px rgb(58, 161, 58), 0 0 10px rgb(58, 161, 58), 0 0 20px rgb(58, 161, 58), 0 0 40px #00ff00;

}

.container:hover .element1{
    display: none;
}

.container:hover .element2{
    transform: rotate(-45deg);
    position: absolute;
    top:40%;
    left: 18%;
}

.container:hover .element3{
    transform: rotate(45deg);
    position: absolute;
    top:40%;
    left: 18%;
}

.container:hover .firstdiv{

    position: relative;
    width: 315px;
    height: 224px;
    padding: 18% 10%;
}

.element1{
    width: 80%;
    height: 15px;
    display: grid;
    grid-template-columns: 75% 18%;
    gap: 7%;

}


.element2{
    width: 80%;
    height: 15px;
    display: grid;
    grid-template-columns: 18% 75%;
    gap: 7%;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 1.0, 1.0);

}

.element3{
    width: 80%;
    height: 15px;
    display: grid;
    grid-template-columns: 75% 18%;
    gap: 7%;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 1.0, 1.0);

}

